registry=https://microsoft.pkgs.visualstudio.com/_packaging/AdaptiveCards/npm/registry/
always-auth=true

; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 9/27/2018.
; begin auth token
//microsoft.pkgs.visualstudio.com/_packaging/AdaptiveCards/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiJhNTFlNjE2Yy1mZjE4LTRkZjItODRjMy1kNzZlZjM5MTI4NWQiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiOWRhYzJiNDctZTE2ZC00M2M0LTk3MGUtMjRlYjZjMGQ0NzEzIiwic2lkIjoiYzQ3ZmU2NGMtZWNiOS00YWU0LWI0NGQtOTU5ZTUwOWM3NDM4IiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbXx2c286Y2I1NTczOWUtNGFmZS00NmEzLTk3MGYtMWI0OWQ4ZWU3NTY0IiwibmJmIjoxNTMwMjU1OTY2LCJleHAiOjE1MzgwMzE5NjZ9.mWjkJUHN3u2lN5SFBJM0ZnhjmVuLS6mRGu6mD_xtIYTQt38Y2ZtAMEiC24e1fa0kOPvkMA0w9sfh7oaYIM-sW3K45eDC5m4D_itHuegqY0XYVdbtKfR4o1y0H34Zzm_7BgIqXOVBv0Nc_zg4bgLOFaLvf53hvNee-jed7Ss2ss1OJ2Vz3UrDC3Lqzs4fOTtdlB1HlYg5EvYKuFyTUonSOvEry_VZpC0gMT1KiYJhw4Idr0-XA4J-cgyMq_7E-YVAMsd5pmkvjZiqtf-Udp9nZFr_NrYbND11GyFl2i9mPMt4g6xbKDqChO4bcZXa0eZ00DL_oE_B1SuOMgxcqWAkDQ
//microsoft.pkgs.visualstudio.com/_packaging/AdaptiveCards/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiJhNTFlNjE2Yy1mZjE4LTRkZjItODRjMy1kNzZlZjM5MTI4NWQiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiOWRhYzJiNDctZTE2ZC00M2M0LTk3MGUtMjRlYjZjMGQ0NzEzIiwic2lkIjoiYzQ3ZmU2NGMtZWNiOS00YWU0LWI0NGQtOTU5ZTUwOWM3NDM4IiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbXx2c286Y2I1NTczOWUtNGFmZS00NmEzLTk3MGYtMWI0OWQ4ZWU3NTY0IiwibmJmIjoxNTMwMjU1OTY2LCJleHAiOjE1MzgwMzE5NjZ9.mWjkJUHN3u2lN5SFBJM0ZnhjmVuLS6mRGu6mD_xtIYTQt38Y2ZtAMEiC24e1fa0kOPvkMA0w9sfh7oaYIM-sW3K45eDC5m4D_itHuegqY0XYVdbtKfR4o1y0H34Zzm_7BgIqXOVBv0Nc_zg4bgLOFaLvf53hvNee-jed7Ss2ss1OJ2Vz3UrDC3Lqzs4fOTtdlB1HlYg5EvYKuFyTUonSOvEry_VZpC0gMT1KiYJhw4Idr0-XA4J-cgyMq_7E-YVAMsd5pmkvjZiqtf-Udp9nZFr_NrYbND11GyFl2i9mPMt4g6xbKDqChO4bcZXa0eZ00DL_oE_B1SuOMgxcqWAkDQ
; end auth token