#app{
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px 1fr auto;
  grid-column-gap: 0.5rem;
  grid-template-areas:
      "header header"
      "left-panel right-panel"
      "left-panel footer";
}

.header{
  grid-area: header;
}

.left-panel{
  grid-area: left-panel;
  overflow: hidden;
}

.right-panel{
  grid-area: right-panel;
  overflow: auto;
  padding: 0.1rem;
}

.footer{
  grid-area: footer;
  text-align: right;
  padding: 0.1rem;
}
