#app{
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px 1fr 20px;
  grid-template-areas:
      "header header"
      "left-panel right-panel"
      "footer footer";
}

.header{
  grid-area: header;
}

.left-panel{
  grid-area: left-panel;
  overflow: hidden;
}

.right-panel{
  grid-area: right-panel;
  overflow: auto
}

.footer{
  grid-area: footer;
}
