.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.fitOneScreen{
  height: calc(100vh - 80px); /* 110px is the sum of header and footer */
  overflow: auto;
}

#app{
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80px 1fr 100px;
  grid-template-areas:
      "header header"
      "left-panel right-panel"
      "footer footer";
}

.header{
  grid-area: header;
}

.left-panel{
  grid-area: left-panel;
  overflow: hidden;
}

.right-panel{
  grid-area: right-panel;
  overflow: auto
}

.footer{
  grid-area: footer;
}
